.partners__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 160%;
    text-transform: uppercase;
    color: #121920;
    box-sizing: border-box;
    margin-top: 70px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .partners__title {
        font-size: 28px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 500px) {
    .partners__title {
        margin-left: 80px;
        margin-top: 65px;
    }
}

@media screen and (max-width: 400px) {
    .partners__title {
        margin-left: 20px;
    }
}