.header__container {
    display: flex;
    align-items: center;
    width: 82%;
    height: 80px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .header__container {
        width: 100%;
    }    
}

@media screen and (max-width: 500px) {
    .header__container {
        height: 102px;
        flex-wrap: wrap;
        justify-content: space-between;
    }    
}