.header__user-pic {
    background-image: url('../../../images/man.jpg');
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

@media screen and (max-width: 500px) {
    .header__user-pic {
        width: 24px;
        height: 24px;
        background-image: url(../../../images/Profile-stroke.png);
    }
}